# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here
import sqlite3 
import pandas as pd
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

In [3]:
def mysql(query):
    c.execute(str(query))
    df = pd.DataFrame(c.fetchall())
    df.columns = [x[0] for x in c.description]
    return df

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [4]:
#Your code here
mysql("""SELECT * FROM employees JOIN offices USING(officeCode) WHERE city == 'Boston'""")

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
1,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [5]:
#Your code here
mysql("""SELECT city, COUNT(*) FROM offices LEFT JOIN employees USING(officeCode) GROUP BY 1""")

            city  COUNT(*)
0         Boston         2
1         London         2
2            NYC         2
3          Paris         5
4  San Francisco         6
5         Sydney         4
6          Tokyo         2

## Write 3 Questions of your own and answer them

In [6]:
# Answers will vary
# 1.  Who are the customers for each employee?
# 2.  What's the quantity ordered for each product?
# 3.  What are the customer's order number?

In [11]:
# Your code here
mysql("""SELECT lastName, firstName, customerName FROM employees  JOIN customers;""")

     lastName firstName                        customerName
0      Murphy     Diane                   Atelier graphique
1      Murphy     Diane                  Signal Gift Stores
2      Murphy     Diane          Australian Collectors, Co.
3      Murphy     Diane                   La Rochelle Gifts
4      Murphy     Diane                  Baane Mini Imports
5      Murphy     Diane        Mini Gifts Distributors Ltd.
6      Murphy     Diane                  Havel & Zbyszek Co
7      Murphy     Diane                Blauer See Auto, Co.
8      Murphy     Diane                     Mini Wheels Co.
9      Murphy     Diane                   Land of Toys Inc.
10     Murphy     Diane              Euro+ Shopping Channel
11     Murphy     Diane            Volvo Model Replicas, Co
12     Murphy     Diane            Danish Wholesale Imports
13     Murphy     Diane              Saveley & Henriot, Co.
14     Murphy     Diane             Dragon Souveniers, Ltd.
15     Murphy     Diane                  Muscle Machine Inc
16     Murphy     Diane               Diecast Classics Inc.
17     Murphy     Diane                Technics Stores Inc.
18     Murphy     Diane                    Handji Gifts& Co
19     Murphy     Diane                        Herkku Gifts
20     Murphy     Diane              American Souvenirs Inc
21     Murphy     Diane                   Porto Imports Co.
22     Murphy     Diane            Daedalus Designs Imports
23     Murphy     Diane           La Corne D'abondance, Co.
24     Murphy     Diane          Cambridge Collectables Co.
25     Murphy     Diane                     Gift Depot Inc.
26     Murphy     Diane                Osaka Souveniers Co.
27     Murphy     Diane                     Vitachrome Inc.
28     Murphy     Diane                Toys of Finland, Co.
29     Murphy     Diane                      AV Stores, Co.
...       ...       ...                                 ...
2776   Gerard    Martin                 L'ordine Souveniers
2777   Gerard    Martin             Tokyo Collectables, Ltd
2778   Gerard    Martin                   Auto Canal+ Petit
2779   Gerard    Martin      Stuttgart Collectable Exchange
2780   Gerard    Martin       Extreme Desk Decorations, Ltd
2781   Gerard    Martin  Bavarian Collectables Imports, Co.
2782   Gerard    Martin                Classic Legends Inc.
2783   Gerard    Martin            Feuer Online Stores, Inc
2784   Gerard    Martin                    Gift Ideas Corp.
2785   Gerard    Martin             Scandinavian Gift Ideas
2786   Gerard    Martin           The Sharp Gifts Warehouse
2787   Gerard    Martin                     Mini Auto Werke
2788   Gerard    Martin                    Super Scale Inc.
2789   Gerard    Martin                     Microscale Inc.
2790   Gerard    Martin          Corrida Auto Replicas, Ltd
2791   Gerard    Martin                    Warburg Exchange
2792   Gerard    Martin                    FunGiftIdeas.com
2793   Gerard    Martin                 Anton Designs, Ltd.
2794   Gerard    Martin        Australian Collectables, Ltd
2795   Gerard    Martin                  Frau da Collezione
2796   Gerard    Martin         West Coast Collectables Co.
2797   Gerard    Martin                 Mit Vergnügen & Co.
2798   Gerard    Martin           Kremlin Collectables, Co.
2799   Gerard    Martin                  Raanan Stores, Inc
2800   Gerard    Martin          Iberia Gift Imports, Corp.
2801   Gerard    Martin        Motor Mint Distributors Inc.
2802   Gerard    Martin            Signal Collectibles Ltd.
2803   Gerard    Martin      Double Decker Gift Stores, Ltd
2804   Gerard    Martin                Diecast Collectables
2805   Gerard    Martin                   Kelly's Gift Shop

[2806 rows x 3 columns]

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!